.productDetailsContainer {
  margin:auto;
 
  max-width: 900px;
 
}
.productDetailsContainer h1{
  font-size: 1em;
}
.detailsContainer{
  font-family: abel, sans-serif;
  text-align: left;
  padding: 20px;
}
.iiz div{
  width: 400px;
  height: auto;
}
.imgcontainer img{
  margin: auto;
  width:100%;
}
.textContentContainer h2{
  margin-bottom: 0;

}
.offer{
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 5px;
  color: purple;
}
.price{
  margin:10px;
  font-size: 1.4em;
}
.price span{
  margin: 0 15px;
  font-size:0.8em;
}
.price .discount{
  font-size: 0.7em;
  margin-left:0;
}
.deliveryDate{
  background:rgb(255, 224, 255);
  display: inline-block;
}
.buttons{
  display: flex;
  gap:10px;
  margin:10px;
  justify-content: space-between;
align-items: center;
}

.highlights div{
  display: flex;
 gap: 60px;
}
.head{
  width: 30px;
}
.removeWish{
  display: flex;
  align-items: center;
  justify-content: center;
}
.removeWish svg{
  height: 0.9rem;
}

@media (min-width: 768px){
  .textContentContainer h2{
    margin-bottom: 0;
    font-size: 2em;
  }
  .detailsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
padding: 20px;
gap: 20px;


  }
  .textContentContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .buttons button{
    padding: 0.5rem;
    font-size: 1rem;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .imgcontainer img{
    height:30%;
    width:400px;
    height: fit-content;
    transition: 0.4s;
  }
  
  .imgcontainer img:hover{
    transform:scale(1.3)
  }
  .highlights div{
    display: flex;
   gap: 80px;
  }
  .iiz div{
    height:500px;
  }
  .head{
    width: 30px;
  }
  .highlights div ul{
    padding-left:0;
    
  }
  .highlights div ul li{
    list-style-type: disc;
    margin-left: 15px;
  
  }

}