.cart{
  margin-top:95px;
  min-height:90vh;
}
.emptyCart{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.emptyCart img{
  width:80%;
  height:50%;
 padding: 100px 0 10px 0;
 z-index:-1;
  border: none;
  clip-path:circle(45%);

}
.emptyCart p{
  text-transform: capitalize;
  font-family: abel;
}

@media  (min-width: 400px) {
  .emptyCart img{
     width: 50%;
     
  }
}