.wishLish {
  min-height: calc(100vh - 250px);
}

.empty_Wishlist{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin:20px;
  justify-content: center;
  align-items: center;
}
.wishLish .productsContainer{
  display:flex;
  max-width: 80%;
  justify-content: center;  
}
.wishLish .productsContainer .ProductCard{
  width: 30%;
}